# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Database
*.db
*.sqlite

# Environment
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log

# Test coverage
coverage